select{
	padding:0 1em 0 .5em;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	background-repeat: no-repeat;
	background-position: right .25em top .5em;
	background-size: 1em;
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg"><path d="M2,4 v4h4" transform="rotate(-45 0 4)" fill="none" stroke="currentcolor"/></svg>');
}
.dark select{
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg"><path d="M2,4 v4h4" transform="rotate(-45 0 4)" fill="none" stroke="%23eee"/></svg>');
}
.input-number{
	display:inline-flex;
	align-items:center;
	user-select:none;
	overflow:hidden;
}
.input-number button:hover{
	cursor:pointer;
}
input[type="number"]{
	-moz-appearance: textfield; /* Firefox */
	appearance: textfield;
	text-align: center;
	width: 0;
	flex-grow: 1;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}