@font-face{
	font-family:'icon';
	src:url(icon.woff2) format('woff2');
	font-display:block;
	font-style:normal
}
i{
	font-family:'icon'!important;
	font-style:normal;
	font-variant:normal;
	text-transform:none;
	text-rendering:auto;
  box-sizing:border-box;
  display: inline-flex;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
i::before{
  height:1em;
}
.i-nico:before {
  content: "\e900";
}
.i-wao:before {
  content: "\e901";
  margin:0 .15em;
  position:relative;
  top:.15em;
}
.i-jump:before {
  content: "\e902";
}
.i-share:before {
  content: "\e903";
}
.i-sun:before {
  content: "\e904";
}
.i-moon:before {
  content: "\e905";
}
.i-mail:before {
  content: "\e906";
}
.i-arrow_U:before {
  content: "\e907";
}
.i-arrow_R:before {
  content: "\e908";
}
.i-arrow_L:before {
  content: "\e909";
}
.i-arrow_D:before {
  content: "\e90a";
}
.i-contrast:before {
  content: "\e90b";
}
.i-home:before {
  content: "\e90c";
}
.i-copyright:before {
  content: "\e90d";
}
.i-left2:before {
  content: "\e90e";
}
.i-down2:before {
  content: "\e90f";
}
.i-right2:before {
  content: "\e910";
}
.i-up2:before {
  content: "\e911";
}
.i-discord:before {
  content: "\e912";
}
.i-copy:before {
  content: "\e914";
}
.i-search:before {
  content: "\e915";
}
.i-update:before {
  content: "\e916";
}
.i-edit:before {
  content: "\e917";
}
.i-book:before {
  content: "\e918";
}
.i-download:before {
  content: "\e919";
}
.i-twitter-x:before {
  content: "\e91a";
}
.i-neo:before {
  content: "\e91b";
}
.i-link:before {
  content: "\e91c";
}
.i-checked:before {
  content: "\e91d";
}
.i-unchecked:before {
  content: "\e91e";
}
.i-code:before {
  content: "\e91f";
}
.i-twitter:before {
  content: "\e920";
}
.i-rss:before {
  content: "\e921";
}
.i-youtube:before {
  content: "\e922";
}
.i-github:before {
  content: "\e923";
}
.i-soundcloud:before {
  content: "\e924";
}