<!DOCTYPE html><html><head>
<meta charset=UTF-8>
<title>{title}</title>
<link rel='stylesheet' href='../css/default.css'>
<link rel='stylesheet' href='../css/icon.css'>
<link rel=icon type=image/svg+xml href=https://0x41n.github.io/file/fav.svg>
<meta name=viewport content='width=device-width, initial-scale=1.0'/>
</head>
<body>
<div id=bar><p><a href='/' style=display:inline-flex;align-items:center><i class=i-arrow_L></i></a></p><p style=text-align:right><i class=i-sun onclick='switchDark("")'></i><i class=i-moon onclick='switchDark("dark")' style=margin-left:1em></i></p></div>
<div class=head><div>{title}</div><p class=date>
{if created}<i class=i-edit></i> {created}{/if}
{if updated} ・ <i class=i-update></i> {updated}{/if}{if tags} ・ {tags}{/if}</p></div>
<div class=container><main>{body}</main>
<aside class='nobar toc'><span>目次</span>{toc}</aside></div>
<div id=foot></div>
</body>
</html>