<p>
<a href='/' title='一覧へ戻る'><i class=i-home></i></a>
<a href=/pages/about.html title='情報'><i class=i-neo></i></a>
<a href=/pages/guideline.html title='ガイドライン'><i class=i-book></i></a>
<a href=/pages/download.html title='ダウンロード'><i class=i-download></i></a>
</p>
<!--
<p>
<a href=https://twitter.com/neodym65 target=_blank rel='noopener noreferrer'><i class=i-twitter></i></a>
<a href=https://www.youtube.com/@0x41n target=_blank rel='noopener noreferrer'><i class=i-youtube></i></a>
<a href=https://soundcloud.com/0x41n target=_blank rel='noopener noreferrer'><i class=i-soundcloud></i></a>
<a href=https://github.com/0x41n target=_blank rel='noopener noreferrer'><i class=i-github></i></a>
<a href=https://www.nicovideo.jp/user/65991535 target=_blank rel='noopener noreferrer'><i class=i-nico></i></a>
<a href=https://neodym65.booth.pm/ target=_blank rel='noopener noreferrer'><i class=i-link></i></a>
</p>
-->
<p><span title='もう少しリンクの数減らしたいなあ…'>© neodym65</span></p>